.main{
    height: calc(100% - 20.25rem);
}
#route{
    color:yellow;
    font-weight: 500;
}
#app{
    background: url(/assets/lidl.png) center no-repeat;
    background-size: cover;
    
    height: 100vh;
}